@import url(./fonts.css);
@import url(./normalize.css);

body {
    font-size: 14px;
    font-family: 'TT Lakes Regular';
    min-width: 320px;
    background-color: #F8F8F8;
}
@media (min-width: 1120px) {
    body {
        max-width: 1120px;
        margin: 0 auto;
    }
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9FFF5;
}
@media (min-width: 1120px) {
    .header {
        display: none;
    }
}

.interested__header {
    padding: 0 16px;
    height: 88px;
}
@media (min-width: 768px) {
    .interested__header {
        padding: 0 24px;
    }
}

.button {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 50%;
}

.button_icon_burger {
    background-image: url("../images/burger.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button_icon_call {
    background-image: url("../images/call.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button_icon_chat {
    background-image: url("../images/chat.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button_icon_close {
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button_icon_search {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button_icon_profile {
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button_icon_checkstatus {
    background-image: url("../images/checkstatus.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button_icon_repair {
    background-image: url("../images/repair.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.header__menu-wrapper-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 150px;
}
@media (min-width: 768px) {
    .header__menu-wrapper-1 {
        flex-basis: 175px;
    }
}

.header__menu-wrapper-1:after {
    position: absolute;
    content: "";
    background-color: #EAEAEA;
    border-radius: 1px;
    height: 32px;
    width: 2px; 
    right: -16px;
}
@media (min-width: 768px) {
    .header__menu-wrapper-1:after {
        left: 60px;
    }
}

.header__menu-wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 96px;
}
@media (min-width: 768px) {
    .header__menu-wrapper-2 {
        flex-basis: 275px;
    }
}

.wrapper {
    padding: 0 16px;
}
@media (min-width: 768px) {
    .wrapper {
        padding: 0 24px;
        width: 100%;
    }
}
@media (min-width: 1120px) {
    .wrapper {
        padding: 0 32px;
    }
}

.main {
    
}

.main__title {
    font-family: 'TT Lakes Bold';
    line-height: 40px;
    letter-spacing: -0.6px;
}
@media (min-width: 1120px) {
    .main__title {
        position: relative;
    }

    .main__title:before {
        content: "";
        position: absolute;
        left: -32px;
        border-radius: 2px;
        width: 3px;
        height: 40px;
        background: #41F6D7;
    }
}

.main__blue-devider {
    position: absolute;
    left: -4px;
    border-radius: 4px;
    width: 8px;
    height: 40px;
    background: #41F6D7;
}
@media (min-width: 1120px) {
    .main__blue-devider {
        display: none;
    }
}

.slide-menu {
    display: flex;
    align-items: center;
    overflow: scroll;
}
@media (min-width: 1120px) {
    .slide-menu {
        padding: 32px 20px;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: visible;
    }
}

.paragraph__slide-menu {
    padding: 0 16px;
    margin: 24px 0px;
}

.paragraph__main {
    margin-top: 24px;
}
@media (min-width: 1120px) {
    .paragraph__main {
        margin-top: 42px;
    }
}

@media (min-width: 768px) {
    .paragraph__slide-menu {
        padding: 0 24px;
        margin: 32px 0px;
    }
}
@media (min-width: 1120px) {
    .paragraph__slide-menu {
        margin: 6px 0px;
        padding: 16px 30px;
        justify-content: flex-start;
    }
}

.slide-menu__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 16px;
    color: #7E7E82;
    line-height: 20px;
    letter-spacing: -0.2px;
    font-size: 16px;
    border: 2px solid transparent;
}

.slide-menu__link:focus {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main__content {

}
@media (min-width: 768px) {
    .main__content {
        position: relative;
        display: flex;
    }
}

.main__content-text {
    letter-spacing: 0.2px;
}
@media (min-width: 768px) {
    .main__content-text {
        padding-right: 48px;
        float: left;
        max-width: 50%;
    }
}
@media (min-width: 1120px) {
    .main__content-text {
        margin-top: 10px;
        float: left;
        width: 500px;
    }
}

.main__content-readnext-button {
    position: relative;
    margin: 23px;
    margin-left: 7px;
    color: #1B1C21;
    font-family: "TT Lakes Regular";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.2px;
    background: none;
    border: none;
    background-image: url("../images/icon.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.main__content-group-image {
    left: -16px;
    position: absolute;
    width: calc(100% + 16px);
}
@media (min-width: 768px) {
    .main__content-group-image {
        position: relative;
        border: 1px transparent;
        border-radius: 6px;
        min-width: 360px;
        width: auto;
        float: right;
    }
}
@media (min-width: 1120px) {
    .main__content-group-image {
        float: right;
        width: 530px;
        height: 307px;
    }
}

.main__content-text-2 {
    display: none;
}
@media (min-width: 768px) {
    .main__content-text-2 {
        display: block;
        margin-top: 16px;
    }
}

.sm-menu {
    display: none;
}
@media (min-width: 768px) {
    .sm-menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 170px;
        padding-right: 20px;
    }

    .sm-menu:after {
        position: absolute;
        content: "";
        background-color: #EAEAEA;
        border-radius: 1px;
        height: 32px;
        width: 2px; 
        right: 2px;
    }
}

.main__content-text-desktop {
    display: none;
}
@media (min-width: 1120px) {
    .main__content-text-desktop {
        display: inline;
    }
}

.main__desktop-buttons {
    display: none;
}
@media (min-width: 1120px) {
    .main__desktop-buttons {
        position: relative;
        float: right;
        display: flex;
        justify-content: space-between;
        width: 240px;
        letter-spacing: -0.2px;
        font-weight: 600;
    }
}

@media (min-width: 1120px) {
    .main__checkstatus-button {
        position: relative;
    }

    .main__checkstatus-button-text {
        position: absolute;
        left: -115px;
        top: 25%;
    }

    .main__repair-button-text {
        position: absolute;
        left: -120px;
        top: 25%;
    }
}